# Python
__pycache__
*.pyc
*.egg-info
dist

# Log
*.log
*.log.*
# *.json
# *.jsonl

# Data
!**/alpaca-data-conversation.json
# Editor
.idea
*.swp
.vscode

# Other
.DS_Store
wandb
output

checkpoints
project_checkpoints
debug_checkpoints
playground/data
playground/cc3m_llava34b_cap
ckpts*

.ipynb_checkpoints
chunyl_scripts
*.ipynb

# DevContainer
!.devcontainer/*

# Demo
serve_images/
notebooks/
logs
playground/cc3m_llava34b_cap/progress_0_or_24.json
playground/cc3m_llava34b_cap/progress_1_or_24.json
playground/cc3m_llava34b_cap/progress_3_or_24.json
playground/cc3m_llava34b_cap/progress_5_or_24.json
playground/cc3m_llava34b_cap/progress_6_or_24.json
llava_instruct_json/combined_staged_instruct.json
scripts/dist_*
logs/
submissions/
cn_scripts/
internal_project_checkpoints/
scripts/cn_boli01_lf/.nfs00770000002b96f300000005
scripts/cn_boli01_lf/.nfs007700000045ae9000000001
work_dirs
scripts/baseline_rep/*
scripts/i18n/*