bitsandbytes==0.41.0
datasets==2.16.1
deepspeed==0.13.4
einops==0.7.0
einops_exts==0.0.4
fastapi==0.110.0
fire==0.5.0
flash_attn==2.5.6
ftfy==6.1.3
gradio==4.21.0
horovod==0.28.1
huggingface_hub==0.21.4
numpy==1.26.4
open_clip_torch==2.24.0
openpyxl==3.1.2
packaging==23.2
pandas==2.2.1
peft==0.4.0
Pillow==10.2.0
rapidfuzz==3.6.2
regex==2023.12.25
Requests==2.31.0
timm==0.9.16
tokenizers==0.15.2
torch==2.1.0
torchvision==0.16.0
tqdm==4.66.2
transformers==4.38.2
uvicorn==0.28.0
webdataset==0.2.86
xformers==0.0.22.post7
